@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    @foreach(var category in Model.CategoryHeaders)
     {
    <div class="col">
        <a asp-page="/WorkoutPlans/Index" asp-route-categoryId="@category.Id">
            <h4>@category.Name</h4>
            <img src="~/images/category_covers/@(category.Id).jpg" />
        </a>
    </div>           
     }
</div>
