@page
@model MyWorkout.Web.Pages.Admin.ManageCategoriesModel
@{
}
<div class="row">
    <div class="col-md-3">
        @foreach(var c in Model.AllCategories)
            {
                <a asp-route-categoryId="@c.Value">@c.Text</a> <br />
            }
    </div>


    <div class="col-md-9" >
        @if(Model.CategoryId != 0)
            {
                <h2>Edit category</h2>
            }
            else
            {
                <h2>Add new category</h2>
            }

    <form method="post" role="form">

        <input type="hidden" asp-for="SelectedCategory.Id" />

        <div class="from-group">
            <label asp-for="SelectedCategory.Name">Name of category</label>
            <input class="form-control" asp-for="SelectedCategory.Name" />
        </div>

        <div class="from-group">
            <label asp-for="SelectedCategory.ParentCategoryId">Name of category</label>
            <select class="form-control" asp-for="SelectedCategory.ParentCategoryId" asp-items="Model.AllCategories">
                <option value="">None</option>
            </select>
        </div>

        <div class="d-flex justify-content-between">
            <button  asp-page-handler="AddOrUpdate" class="btn btn-primary">
                @(Model.CategoryId == 0 ? "Add" : "Edit")
            </button>

            @if(Model.SelectedCategory.Id != 0)
            {
            <button asp-page-handler="Delete" class="btn btn-danger">
                Delete
            </button>
            }
        </div>

    </form>
    </div>
</div>