@page
@model MyWorkout.Web.Pages.WorkoutPlans.AddWorkoutModel
@{
}
<h1>Add new workout</h1>

<div>
    <form method="post" role="form">
        <div class="form-group">
            <label asp-for="WorkoutPlan.Title"></label>
            <input class="form-control" asp-for="WorkoutPlan.Title" />
        </div>
    </form>
</div>