@page
@model MyWorkout.Web.Pages.WorkoutPlans.AddWorkoutModel
@{
}

<h1 class="text-center">Create your workout</h1>

<div class="row justify-content-center">
    <form method="post" role="form" enctype="multipart/form-data">
        <div class="col">
            <div class="form-group">
                <label asp-for="WorkoutPlan.Title"></label>
                <input class="form-control" asp-for="WorkoutPlan.Title"  required/>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutPlan.Description"></label>
                <input class="form-control" asp-for="WorkoutPlan.Description"  required/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="CoverImage">Cover</label>
                <input class="form-control" asp-for="CoverImage" required/>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>