@page
@model MyWorkout.Web.Pages.WorkoutPlans.DetailsModel
@{
}

<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img class="w-100 mb-2" src="~/images/workoutPlan_covers/@(Model.Id).jpg" />
            @foreach(var exercise in Model.WorkoutPlan.Exercises)
            {
                <p>@exercise.Title</p>
            }
        </div>
    </div>

</div>
