@page
@model MyWorkout.Web.Pages.Account.LoginModel

<div class="row">
    <form method="post" class="col-md-6">
        <div class="form-group">
            <label asp-for="Input.UserName"></label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
        </div>
        <div class="form-check">
            <input asp-for="Input.KeepMeSignedIn" class="form-check-input" />
            <label asp-for="Input.KeepMeSignedIn"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Bejelentkezés</button>
        </div>
    </form>
    <div asp-validation-summary="All" class="col-md-6 text-danger"></div>
</div>
