@page
@model MyWorkout.Web.Pages.Account.ProfileModel


<h2>Profilod</h2>
<div class="card">
    <h6 class="card-header">@User.Identity.Name</h6>
    <ul class="list-group">
        <li class="list-group-item">Felhasználónév: @Model.MyWorkoutUser.DisplayName</li>
        <li class="list-group-item">E-mail cím: @Model.MyWorkoutUser.Email</li>
        <li class="list-group-item">Szerepkörök: @string.Join(", ", Model.Roles)</li>
    </ul>
</div>